/.cache/
/.custom.el
/.dap-breakpoints
/.lsp-session-v1
/auto-save-list/
*~
*.elc
/projects
/transient/
/tramp
/private/
/elpa/
/eln-cache/
/straight/
/eclipse.jdt.ls/
/org-persist/
/projectile.cache
/server/
/workspace/
